page-login {
    .video-wrapper{
        position: fixed;
        z-index: -100;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        
        video{
            min-width: 50%;
            min-height: 50%;
            width: auto;
            height: auto;
        }

        .overlay{
            position: fixed;
            top: 0; left: 0; right: 0; bottom : 0;
            background: rgba(24, 24, 24, 0.426);
        }
    }
    

    #title{
        text-align: center;
        padding: 20% 5%;
        font-size: 5em;
        color: #dfdfdf;
        font-weight: 700;
        span{
            font-weight: 100;
        }
    }

    #login{
            width: 70%;
            margin: 0 auto;
            ion-item{
                color: #dfdfdf;
                background: transparent;
                padding: 0;
            }
            button {
                color: #dfdfdf;
                margin-top: 20px;
            }
    }
}
