<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <div class="hero log-filter" color="secondary">
    <ion-row>
      <ion-col col-4 offset-4>
        <ion-select [(ngModel)]="month" (ngModelChange)="filterChanged()" style="float:right">
          <ion-option>[Select Month]</ion-option>
          <ion-option *ngFor="let m of timeService.months; index as i;">{{ m }}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-4>
        <ion-select [(ngModel)]="year" (ngModelChange)="filterChanged()" style="float:right">
          <ion-option *ngFor="let y of timeService.yearArr; index as i;">{{ y }}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </div>
</ion-header>

<ion-content>
  <log></log>
</ion-content>