<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

  <ion-grid class="hero" color="secondary">
    <ion-row>
      <ion-col col-6 offset-3 class="today">
        <div class="date">{{ this.timeService.curUnix * 1000 | date:'EEE, MMM d, y' }}</div>
        <div class="time">{{ this.timeService.curUnix * 1000 | date:'h:mm:ss' }} {{ this.timeService.curUnix * 1000 | date: 'a' | lowercase
          }}</div>
        <button ion-button color="btnPrimary" large (click)="clockIn()">CLOCK IN</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid class="log">
    <ion-row>
      <ion-col col-10 offset-1 class="empty-message" *ngIf="log.showEmptyLog == true && log.logs.length == 0">
        Nothing here. :(
      </ion-col>
      <ion-col col-10 offset-1 class="log-loader" *ngIf="log.showLogLoader == true">
        <ion-spinner></ion-spinner>
      </ion-col>
      <log></log>
    </ion-row>
  </ion-grid>
</ion-content>