page-home {
    overflow: hidden;
    .today{
        padding: 10vw 0 10vw;
        text-align: center;
        color: $white;
        .date{
            font-size: 4vw;
        }
        .time{
            font-size: 9vw;
            font-weight: bold;
            margin-bottom: 2vw;
            span{
                font-size: 6vw;
                font-weight: 100;
            }
        }
        button{
            width: 100%;
            color: #151f2b;
        }
    }

    .log-loader{
        text-align: center;
        font-size: 2em;
        color: lightgray;
    }

    .empty-message{
        text-align: center;
        font-size: 4vh;
        color : #24344b;
    }

    .log-list{
        color : #24344b;
        .date{
            font-size: 1.2em;
        }
        .location{
            font-size: .9em;
        }
        .badge-outer{
            margin-top: 10px;
            .badge{
                font-size: .8em;
                text-align: center;
                background : #24344b;
                color: $white;
                padding : 2vw;
                border-radius: 4vw;
            }
        }
    }
}