// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.md, .ios, .wp{
    .state-connected > div{
        background: rgba(25, 165, 25, 0.9);
    }
    
    .state-disconnected > div{
        background: rgba(206, 2, 2, 0.9);
    }

    .state-serverConnected > div {
        background : rgba(134, 39, 211, 0.9);
    }
}

.log{
    background: #efefef;
}

.log-item{
    background: $white;
    margin-bottom: 3vw;
    box-shadow: 1px 1px 2px #e5e5e5;
}

.hero{
    color: $white;
    background: $secondary;
    padding: 0;
}

.select-ios,
.select-md{
    padding: 0;
    padding-right: 8px;
}

.check{
    position: absolute;
    bottom: 10px;
    right: 10px;
    &.seen{
        color:$secondary; 
    }
    &.not-seen{
        color: #707C8E;
    }
}