<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>

    <ion-slides *ngIf="database.photos" pager="true">
      <ion-slide *ngFor="let photo of database.photos">
        <div class="frame">
          <span class="helper"></span>
          <img [src]="photo.base64Data | safeResource">
        </div>
      </ion-slide>
    </ion-slides>

    <ion-fab right top>
      <button ion-fab (click)="closeMenu()" id="closeMenu">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab>

    <ion-item *ngIf="locationService.location">
      <ion-icon name="pin" item-start large></ion-icon>
      <h2>{{ locationService.location }}</h2>
      <p>Location</p>
    </ion-item>

    <ion-item *ngIf="scanResult">
      <ion-icon name="barcode" item-left large></ion-icon>
      <h2>{{ scanResult }}</h2>
      <p>Scan Result</p>
    </ion-item>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col col-6 offset-3>
        <button ion-button color="btnPrimary" full round large (click)="send()" *ngIf="database.photos">Send</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>